body {
  font-family: 'Great Vibes', cursive;
  background-color: grey;
}
.jumbotron {
  background-color: pink;
}
.navbar {
  font-family: monospace;
}
.card-body {
  background-color: teal;
  font-weight: bold;
  font-family: inherit;
}
h3 {
  font-family: fantasy;
}
img {
  border-style: dashed;
