body {
  background-color: #787867;
  font-family: serif;
  font-style: italic;
}
.jumbotron {
  background-color: green;
  background-image: url(paleo.jpg);
  background-size:cover;
  font-size: 70px
}
h1 {
  font-size: 60pt;
  font-weight: 900;
  font-family: monospace;
  text-shadow: 3px 3px 3px black;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  border-style: solid;
}
#juicy {
  font-style: normal;
font-size: 20pt;
color: red;
font-style: italic;
}
#tangy {
  font-style: normal;
font-size: 20pt;
color: purple;
font-style: italic;
}
#spicy {
  font-style: normal;
font-size: 20pt;
color: #fd7e14;;
font-style: italic;
}
a {
  font-family: sans-serif;
  font-style: normal;
  color: pink;
}
