.navbar-dark .navbar-brand {
    color: #004085;
}
.jumbotron {
  background-image: url(theplay.jpg);
  background-size:cover;
}

.jumbotron img {
  height: 280px;
}
.jumbotron h1 {
  color: gold
}
img {
    border-radius: 70px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 30px;
    width: 200px;
    height: 300px;
}
